.carousel {
    width: 100%;
    overflow: scroll;/*Scroll vertical*/
    padding: 30px;
}

.carousel__container {
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
}

.carouselItem {
    width: 200px;
    height: 250px;
    border-radius: 20px;
    margin-right: 5px; 
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    /*Para que no se salga del contenedor al crecer*/
    position: relative; 
}

.carouselItem:hover~.carouselItem {
    transform: translate3d(100px, 0, 0);
    /*Los elementos desde el item seleccionado se corren 100px en el eje x*/
}

.carousel__container:hover .carouselItem {
    opacity: 0.3;
}

.carousel__container:hover .carouselItem:hover {
    transform: scale(1.5);
    /*Crecimiento de la imagen*/
    opacity: 1;
}

.carouselItem__img{
    width: 200px;
    height: 250px;
    object-fit: cover;
}

.carouselItem__details{
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 100%);
    font-size: 10px;
    opacity:0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: 'Muli', sans-serif;
}

.carouselItem__details:hover{
    opacity:1;
}
.carouselItem__details--img {
    height: 30px;
    width: 30px;
    margin:0 4px 10px 0;
}
.carouselItem__details--title{
    margin: 0 0 5px;
    font-weight: 600;
}
.carouselItem__details--subtitle{
    margin: 0 0 5px;
}