@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
body {
    margin: 0;
    background-color: #8f57fd;
    font-family: 'Muli', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 20px 30px 100px;
    align-items: center;
}

.header__img {
    width: 150px;
    height: 50px;
}

.header__menu {
    display: flex;
    flex-direction: column;
    color: white;
}

.header__menu--profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__menu--profile img {
    width: 40px;
    margin-right: 10px;
}

.header__menu ul {
    display: none;
    list-style: none;
    text-align: right;
    padding: 0;
    margin: 0;
}

.header__menu li {
    margin: 10px 0;
}

.header__menu li a {
    text-decoration: none;
    color: white;
}

.header__menu li a:hover {
    text-decoration: underline;
}

.header__menu:hover ul, ul:hover {
    display: inline-block;
    position: absolute;
    top:60px;
}

.main {
    display: flex-inline;
    flex-direction: column;
    text-align: center;
    margin-bottom: 70px;
}

.main__title {
    color: white;
    font-weight: 500;
    font-size: 25px;
}

.input {
    background-color: rgba(255, 255, 255, 0.1);
    width: 70%;
    height: 50px;
    padding: 0 20px;
    border: 2px solid white;
    border-radius: 30px;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    color: white;
    outline: none;
}


/*Color Placeholder Input */
::placeholder {
    color: white;
}

.categories__title{
    color:white;
    font-size: 16px;
    position: absolute;
    padding-left: 30px;
    width: 100%;
}

